In [1]:
import pandas as pd
import numpy as np

In [16]:
pd.options.display.max_rows = None
df = pd.read_csv('raw_data.csv', index_col = 'Index')

In [17]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
Index,,,,,,,,,,,,,,
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

* Steps to be taken

In [4]:
# prasing salary estimate
# job description prasing
# prasing location
# prasing headquarter
# prasing founded
# prasing type of ownership

In [18]:
# getting rid of those rows where salary estimate is missing
df = df[df['Salary Estimate'] != '-1']
print(df.shape)
df.head()

(742, 14)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
Index,,,,,,,,,,,,,,
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [19]:
# Cleaning salary estimate column
df['hourly'] = df['Salary Estimate'].apply(lambda x : 1 if 'Per Hour' in x else 0)
df['Provided_Salary'] = df['Salary Estimate'].apply(lambda x : 1 if 'Employer Provided Salary:' in x else 0)
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x : x.split('(')[0])
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x : x.replace('K', ''))
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x : x.replace('$', ''))
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x : x.replace('Employer Provided Salary:',''))
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x : x.replace('Per Hour',''))
df['Min_Salary_Estimate'] = df['Salary Estimate'].apply(lambda x : x.split('-')[0])
df['Max_Salary_Estimate'] = df['Salary Estimate'].apply(lambda x : x.split('-')[1])
df[['Min_Salary_Estimate', 'Max_Salary_Estimate']] = df[['Min_Salary_Estimate', 'Max_Salary_Estimate']].astype(int)
df['Average_Salary_Estimate'] = (df['Min_Salary_Estimate'] + df['Max_Salary_Estimate'])/2
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Provided_Salary,Min_Salary_Estimate,Max_Salary_Estimate,Average_Salary_Estimate
Index,,,,,,,,,,,,,,,,,,,
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5

In [7]:
df[df['Rating'] < 0]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Provided_Salary,Min_Salary_Estimate,Max_Salary_Estimate,Average_Salary_Estimate
Index,,,,,,,,,,,,,,,,,,,
208,Principal Data Scientist with over 10 years ex...,200-250,Position Title: Principal Data Scientist\r\nLo...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,0,1,200,250,225.0
331,Principal Data Scientist with over 10 years ex...,200-250,Position Title: Principal Data Scientist\r\nLo...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,0,1,200,250,225.0
377,Data Operations Lead,85-90,Data Operations Lead\r\nLocation: Flexible tho...,-1.0,Muso,"San Francisco, CA","San Francisco, CA",201 to 500 employees,-1,Nonprofit Organization,-1,-1,Unknown / Non-Applicable,-1,0,1,85,90,87.5
472,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,100,140,120.0
518,"Senior Scientist, Cell Pharmacology/Assay Deve...",110-130,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,110,130,120.0
583,Data Scientist,81-140,"As a Data Scientist, you will play a critical ...",-1.0,ALIN,"New York, NY","Noida, India",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,0,81,140,110.5
703,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,100,140,120.0
741,"Scientist – Cancer Discovery, Molecular Assay",100-135,"Scientist – Cancer Discovery, Molecular Assay\...",-1.0,Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1,-1,-1,-1,-1,-1,0,1,100,135,117.5
778,"Senior Scientist, Cell Pharmacology/Assay Deve...",110-130,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,110,130,120.0
819,"Principal Research Scientist/Team Lead, Medici...",120-145,"Principal Research Scientist/Team Lead, Medici...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,120,145,132.5
943,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,100,140,120.0

In [8]:
# Company name 
df['company_txt'] = df.apply(lambda x : x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis=1)
df['company_txt'] = df.apply(lambda x : x['company_txt'][:-3] if '\r\n' in x['company_txt'] else  x['company_txt'], axis=1)

In [9]:
# Making new columns name job_states which captures the information of location of the job
df['job_state'] = df.apply(lambda x : x['Location'].split(',')[1], axis=1)

# Binary indicator for having same job location state where company headquarter is 
df['same_state'] = np.where(df['Location'] == df['Headquarters'], 1, 0)

# How old company is ?
df['company_age'] = np.where(df['Founded'] != -1, 2020-df['Founded'], df['Founded'])

# Visualisation
df[['job_state', 'same_state', 'company_age']]

          job_state  same_state  company_age
Index
0                NM           0           47
1                MD           0           36
2                FL           1           10
3                WA           1           55
4                NY           1           22
5                TX           1           20
6                MD           1           12
7                CA           0           15
8                NY           1            6
9                NY           1           11
10               CA           0            9
11               VA           0           52
12               TX           0           58
13               WA           1            8
14               MA           0          239
15               NJ           1           25
16               MA           1            9
17               CA           1            9
18               CA           1           10
19               CO           1          105
20               WA           1            8
21               TX           0            7
22               IL           0           25
23               KY           0           85
25               VA           0            8
26               MA           0          171
27               OR           0           68
28               MA           1          168
29               CT           0          171
30               FL           1           10
31               WA           1           55
32               MI           1           23
33               MA           0           24
34               CA           1           24
35               MA           1           46
36               CA           0           12
37               CA           1           51
38               MA           1           10
39               CA           0          150
40               NY           1           35
41               CA           1           12
43               MA           0           -1
44               CA           1           10
45               NJ           0            5
46               IL           1           27
48               DC           0           -1
49               WA           0           62
50               CO           0           34
51               OH           0           21
52               IL           0           95
54               FL           1           36
55               MA           1          108
56               AL           1           18
57               NY           0          157
58               CA           0           81
59               NM           0          150
60               CA           0            8
61               MO           1            4
62               MD           1           12
63               TX           1           20
65               OH           1          135
66               NY           1            9
67               CA           1           14
68               WA           1           55
70               PA           1           72
72               MA           1           14
73               GA           1           17
75               MA           1           21
76               PA           0           -1
77               WA           0           81
78               IN           0            5
79               IL           1           93
80               MO           0           42
81               VA           0           10
82               PA           0          160
83               WA           0           81
84               CA           1            9
85               MA           1           20
86               VA           0            3
87               CA           0           25
88               CA           1            4
89               PA           1           23
90               MD           1           78
91               IL           1           12
92               VA           1           18
93               WA           1           72
94               TX           0           58
95               CA           0           15
96               FL           1           12
97               AL           0           24
99               LA           1           21
101              CA           1           30
102              GA           0           52
104              MD           0           17
105              MD           0           32
106              MD           0           24
107              VA           0           62
108              VA           0           10
109              WI           0           19
110              MD           1           13
112              NY           1            8
113              NY           1           28
116              TX           0            5
117              DC           1           85
118              NC           0           23
119              MI           0           26
120              NJ           0            8
122              AZ           1           10
123              NE           1           43
124              CA           1           14
125              NJ           1            1
126              MA           0          239
127              NY           1           11
128              CA           1            5
129              CA           0           38
130              IN           1           83
131              MD           1           20
132              MN           1           24
136              CA           1           23
137              NC           0           20
138              MA           1           21
139              OH           1          142
140              DC           1            5
141              IL           1           27
142              MD           1           34
143              AL           0           20
145     Los Angeles           0           54
146              MO           1            3
147              VA           0           62
148              IL           1           12
150              VA           0            8
152              TX           1           62
153              CA           0           49
154              CA           0           23
156              CO           1           13
157              NY           0           77
158              VA           0           52
159              CA           1            9
161              FL           0            3
162              IL           1           12
164              CO           1            9
166              UT           0           -1
167              CA           1            7
168              PA           1           36
169              WA           1           55
170              DC           0           20
171              IL           0            9
172              OH           1           33
174              TN           1           75
175              WA           1           55
177              FL           1           10
178              IN           1           12
179              MA           1           15
180              NJ           1          174
181              MA           0          169
182              CA           1           44
183              CA           0           24
185              MA           0          239
187              MD           1           39
188              CA           1           50
190              TX           0            7
191              CA           1           10
192              UT           0           -1
193              MA           1           10
194              VA           1           27
197              PA           0            3
198              WI           1           69
199              MA           1            7
200              CA           0           38
201              MI           0           53
202              FL           1           14
203              CA           1           14
204              CA           0          239
205              NJ           1            6
206              MA           0          239
207              NJ           0           38
208              CA           0            3
209              DE           1           85
210              MA           0          239
211              NY           0           72
212              MO           1           59
213              PA           1           36
215              AZ           0           12
216              CA           1           11
217              AL           0           24
221              MA           1          168
223              MA           1           -1
224              IL           1            5
225              UT           1            7
226              LA           0           -1
228              NY           1            6
229              MD           1           18
230              MA           1            7
233              CA           1           13
234              NY           1            6
235              CA           1           10
239              CA           1           34
240              TX           0           43
242              IL           0           -1
243              PA           1           36
245              CA           1           24
246              TN           1           62
247              DE           0           85
248              WI           1           56
250              MD           1           59
251              IL           1           15
253              IL           0           25
254              VA           0           25
255              WI           1           95
256              NY           1           18
257              LA           0           90
258              TX           1           21
259              FL           1           10
260              NJ           1          174
262              MA           1           15
263              IL           1           28
264              CA           0           23
265              VA           0           62
266              OH           1           39
267              MA           0          169
268              CA           1           44
269              CA           0           24
270              CA           0           -1
273              MA           0          239
274              CA           1            7
275              ID           0           36
276              CA           1           50
277              MD           1           39
278              NJ           1           24
281              IN           0            1
282              UT           0           -1
284              MA           0          171
285              KY           0           85
288              NY           0           28
289              MA           1           10
290              TN           0           14
291              IL           1           19
292              VA           1           27
293              OR           0           21
295              MN           0           28
296              NY           1           54
299              TX           1           10
300              WI           1           69
302              CA           1           44
305              RI           1           81
306              NE           1          103
307              PA           0            3
308              DC           1          137
309              TX           0           14
310              OH           0          133
311              CA           0           38
312              NC           0           16
313              MA           1            7
314              MI           0           53
316              CT           0          171
317              VA           0            8
318              PA           0           -1
319              FL           1           14
320              CA           0           20
322              CA           0          239
323              CA           1           14
324              MA           0          239
325              NJ           1            6
326              ID           1           16
328              CA           0           -1
330              TN           0          170
331              CA           0            3
332              CA           0           12
333              NJ           0           38
334              IA           1           72
335              MA           0          239
337              DE           1           85
339              NY           0           72
341              CA           0           23
342              NJ           0          118
344              MO           1           59
346              PA           1           36
347              NY           1          276
348              OR           0           68
349              MI           1           23
350              DC           1           17
351              CA           1           11
352              VA           0            8
353              CA           1           13
354              AZ           0           12
355              AL           0           24
356              CA           0           33
357              TX           0           38
358              NY           0          157
362              MA           0          239
364              SC           0           91
366              MA           1          168
367              CA           1           44
368              MA           1          169
369              IL           1            5
370              DC           0           24
371              VA           1           52
372              MA           0           24
375              CA           0           38
376              TX           1           73
377              CA           1           -1
379              IN           0            5
380              MA           0           24
381              CA           1           24
382              TX           0           27
383              MA           1           -1
384              VA           0           52
386              LA           0           -1
387              WA           1           55
388              MA           1          169
390              UT           1            7
391              VA           0           51
392              NY           1            6
394              MA           1            7
396              CA           1           12
397              FL           1           29
398              MD           1           18
399              VA           0            5
400              TX           0           10
401              DC           1           13
403              NC           1            3
406              CA           0           22
407              PA           1           83
409              NY           1            6
410              VA           1           31
411              MA           0          169
412              CA           1           51
413              MA           1           46
414              CA           1           13
415              IL           1           92
416              CA           1           10
417              KY           0          145
419              MA           1          169
420              CT           0           39
421              CA           1            7
425              CA           1           34
426              MA           1           10
427              TX           0           43
428              KS           0           47
429              IL           0           -1
430              NY           1           17
431              CA           1           -1
433              MA           0          239
434              PA           1           36
435              IL           1           12
437              CO           1           54
442              CA           1           24
443              TN           1           62
444              CA           1           10
446              NY           0          107
447              CO           1          105
448              WI           1           56
449              MA           1           36
450              MD           0           21
452              IL           0          108
454              CA           0            8
455              MD           1           59
456              DE           0           85
458              NC           1          145
459              OH           1           31
461              IN           1           24
462              IL           1           52
463              VA           0           62
464              MA           1           44
466              NC           1          145
467              CA           1           14
468              CA           1            9
469              NY           0            5
470              GA           0            5
471              MA           1           32
472              MA           0           -1
473              PA           1           36
476              FL           1           36
477              DC           0           -1
479              MA           0          169
482              NY           1          171
483              WI           1          150
485              CA           1           11
486              NY           1           18
487              NC           0           30
488              NY           1           10
489              IN           0          108
490              CA           0           48
491              MA           0          164
492              AZ           0           39
493              VA           0           16
494              FL           1            8
495              IL           0           25
496              MO           1           18
497              TX           1           10
498              MA           0           77
499              MA           1           12
500              MD           1           59
501              KY           0          145
502              IL           1           15
505              CA           0           13
506              CA           1           51
507              OH           0           42
508              IL           0           95
509              IL           1           27
510              IA           1           -1
512              WA           1           55
516              IA           1           28
517              MA           1           17
518              MA           0           -1
519              PA           1           37
520              CA           0           14
521              WA           0           55
522              NE           0           24
523              TN           0           20
524              IL           0          108
525              TX           1           73
526              TX           1           -1
528              NC           1          145
530              AL           0           98
532              NC           0           62
533              NJ           1           31
534              PA           1           17
535              CA           1           12
537              CA           1           13
538              NY           1           18
539              NC           1          145
540              NM           0          150
541              MO           1            4
542              VA           0            6
543              MA           1          169
544              WA           1           55
545              UT           1            7
546              NJ           0          208
548              CA           0           21
549              CA           1            4
550              VA           0           51
552              NY           1            6
554              CA           0           13
555              CA           1           12
556              CA           1           10
557              NY           1           44
558              NY           0           28
560              PA           0           -1
561              MA           1            7
562              CA           1           12
563              MD           1           18
565              FL           1           29

In [10]:
# Job Description
df['Job Description'][1]

'What You Will Do:\r\n\r\nI. General Summary\r\n\r\nThe Healthcare Data Scientist position will join our Advanced Analytics group at the University of Maryland Medical System (UMMS) in support of its strategic priority to become a data-driven and outcomes-oriented organization. The successful candidate will have 3+ years of experience with Machine Learning, Predictive Modeling, Statistical Analysis, Mathematical Optimization, Algorithm Development and a passion for working with healthcare data. Previous experience with various computational approaches along with an ability to demonstrate a portfolio of relevant prior projects is essential. This position will report to the UMMS Vice President for Enterprise Data and Analytics (ED&A).\r\n\r\nII. Principal Responsibilities and Tasks\r\n\r\n• Develops predictive and prescriptive analytic models in support of the organization’s clinical, operations and business initiatives and priorities.\r\n• Deploys solutions so that they provide actionable insights to the organization and are embedded or integrated with application systems\r\n• Supports and drives analytic efforts designed around organization’s strategic priorities and clinical/business problems\r\n• Works in a team to drive disruptive innovation, which may translate into improved quality of care, clinical outcomes, reduced costs, temporal efficiencies and process improvements.\r\n• Builds and extends our analytics portfolio supported by robust documentation\r\n• Works with autonomy to find solutions to complex problems using open source tools and in-house development\r\n• Stays abreast of state-of-the-art literature in the fields of operations research, statistical modeling, statistical process control and mathematical optimization\r\n• Creates, communicates, and manages the project plans and other required project documentation and provides updates to leadership as necessary\r\n• Develops and maintains relationships with business, IT and clinical leaders and stakeholders across the enterprise to facilitate collaboration and effective communication\r\n• Works with the analytics team and clinical/business stakeholders to develop pilots so that they may be tested and validated in pilot settings\r\n• Performs analysis to evaluate primary and secondary objectives from such pilots\r\n• Assists leadership with strategies for scaling successful projects across the organization and enhances the analytics applications based on feedback from end-users and clinical/business consumers\r\n• Assists leadership with dissemination of success stories (and failures) in an effort to increase analytics literacy and adoption across the organization.\r\n\r\nWhat You Need to Be Successful:\r\n\r\nIII. Education and Experience\r\n\r\n• Master’s or higher degree (may be substituted by relevant work experience) in applied mathematics, physics, computer science, engineering, statistics or a related field\r\n• 3+ years of Mathematical Optimization, Machine Learning, Predictive Analytics and Algorithm Development experience (experience with tools such as WEKA, RapidMiner, R. Python or other open source tools strongly desired)\r\n• Strong development skills in two or more of the following: C/C++, C#, Python, Java\r\n• Combining analytic methods with advanced data visualizations\r\n• Expert ability to breakdown and clearly define problems\r\n• Experience with Natural Language Processing preferred\r\n\r\nIV. Knowledge, Skills and Abilities\r\n\r\n• Proven communications skills – Effective at working independently and in collaboration with other staff members. Capable of clearly presenting findings orally, in writing, or through graphics.\r\n• Proven analytical skills – Able to compare, contrast, and validate work with keen attention to detail. Skilled in working with “real world” data including scrubbing, transformation, and imputation.\r\n• Proven problem solving skills – Able to plan work, set clear direction, and coordinate own tasks in a fast-paced multidisciplinary environment. Expert at triaging issues, identifying data anomalies, and debugging software.\r\n• Design and prototype new application functionality for our products.\r\n• Change oriented – actively generates process improvements; supports and drives change, and confronts difficult circumstances in creative ways\r\n• Effective communicator and change agent\r\n• Ability to prioritize the tasks of the project timeline to achieve the desired results\r\n• Strong analytic and problem solving skills\r\n• Ability to cooperatively and effectively work with people from various organization levels\r\n\r\nWe are an Equal Opportunity Employer and do not discriminate against any employee or applicant for employment because of race, color, sex, age, national origin, religion, sexual orientation, gender identity, status as a veteran, and basis of disability or any other federal, state or local protected class.'

In [11]:
# Binary indicator to flag inportant tools in demand for data science career
def ds_tools(tool, column):
    df[tool] = df.apply(lambda x : 1 if tool in x[column].lower() else 0, axis=1 )
    print(f'Column : {tool} created')
    print(df[tool].value_counts(), '\n')

for var in ['python', 'excel', 'sas', 'spark', 'tableau']:
    ds_tools(var, 'Job Description')

Column : python created
1    392
0    350
Name: python, dtype: int64

Column : excel created
1    388
0    354
Name: excel, dtype: int64

Column : sas created
0    655
1     87
Name: sas, dtype: int64

Column : spark created
0    575
1    167
Name: spark, dtype: int64

Column : tableau created
0    594
1    148
Name: tableau, dtype: int64

In [12]:
pd.options.display.max_columns = None
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Provided_Salary,Min_Salary_Estimate,Max_Salary_Estimate,Average_Salary_Estimate,company_txt,job_state,same_state,company_age,python,excel,sas,spark,tableau
Index,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Researc,NM,0,47,1,1,1,0,1
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical Syste,MD,0,36,1,0,0,0,0
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe,FL,1,10,1,1,1,1,0
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNN,WA,1,55,1,0,0,0,0
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solution,NY,1,22,1,1,1,0,0

In [13]:
# Type of ownership
def ownership(company_type):
    list = company_type.split('-')
    if len(list) > 1:
        return list[1]
    else:
        return company_type
    
df['ownership'] = df['Type of ownership'].apply(ownership)
df['ownership']

Index
0                             Private
1                  Other Organization
2                             Private
3                          Government
4                             Private
5                              Public
6                             Private
7                             Private
8                            Hospital
9                             Private
10                            Private
11                             Public
12                             Public
13                            Private
14                             Public
15     Subsidiary or Business Segment
16                             Public
17                            Private
18                            Private
19             Nonprofit Organization
20                            Private
21                            Private
22                            Private
23             Nonprofit Organization
25                            Private
26                             Public
27                            Private
28                             Public
29                             Public
30                            Private
31                         Government
32                            Private
33                             Public
34                             Public
35                            Private
36                            Private
37                            Private
38                            Private
39                             Public
40                            Private
41                            Private
43                            Private
44                            Private
45                             Public
46                             Public
48                            Private
49                             Public
50                            Private
51                            Private
52                             Public
54     Subsidiary or Business Segment
55                            Private
56                            Private
57                             Public
58                             Public
59                             Public
60                            Private
61                            Private
62                            Private
63                             Public
65     Subsidiary or Business Segment
66                            Private
67                             Public
68                         Government
70                             Public
72                            Private
73                            Private
75                             Public
76                            Private
77                             Public
78                            Private
79                             Public
80     Subsidiary or Business Segment
81                            Private
82                            Private
83                             Public
84                            Private
85                            Private
86                            Private
87                            Private
88                            Private
89                            Private
90             Nonprofit Organization
91                            Private
92                            Private
93                            Private
94                             Public
95                            Private
96                            Private
97                            Private
99                            Private
101                            Public
102                            Public
104                           Private
105                           Private
106    Subsidiary or Business Segment
107            Nonprofit Organization
108                           Private
109                           Private
110                           Private
112                           Private
113                           Private
116    Subsidiary or Business Segment
117                           Private
118                           Private
119                            Public
120                           Private
122                           Private
123                          Hospital
124                           Private
125                           Private
126                            Public
127                           Private
128                           Private
129                            Public
130                           Private
131                           Private
132                           Private
136            Nonprofit Organization
137                           Private
138                           Private
139                            Public
140                           Private
141                            Public
142                           Private
143                           Unknown
145                           Private
146                           Private
147                            Public
148                           Private
150                           Private
152                           Private
153                           Private
154                            Public
156                           Private
157                           Private
158                            Public
159                           Private
161                           Private
162                           Private
164                           Private
166            Nonprofit Organization
167                           Private
168              College / University
169                        Government
170                           Private
171                           Private
172                           Private
174            Nonprofit Organization
175                        Government
177                           Private
178                           Private
179                           Private
180                            Public
181                           Private
182    Subsidiary or Business Segment
183                            Public
185                            Public
187                           Private
188                            Public
190                           Private
191                           Private
192            Nonprofit Organization
193                           Private
194            Nonprofit Organization
197            Nonprofit Organization
198                        Government
199                            Public
200                            Public
201                           Private
202                            Public
203    Subsidiary or Business Segment
204                            Public
205                           Private
206                            Public
207                           Private
208                           Private
209            Nonprofit Organization
210                            Public
211                            Public
212                           Private
213              College / University
215                            Public
216                           Private
217                           Private
221                            Public
223                            Public
224                           Private
225                           Private
226                           Private
228                          Hospital
229                           Private
230                            Public
233                           Private
234                          Hospital
235                           Private
239                           Private
240                          Hospital
242                           Private
243              College / University
245            Nonprofit Organization
246                           Private
247            Nonprofit Organization
248                           Private
250                           Private
251                            Public
253                           Private
254                            Public
255                           Private
256                           Private
257                        Government
258    Subsidiary or Business Segment
259                           Private
260                            Public
262                           Private
263                           Private
264                            Public
265            Nonprofit Organization
266                           Private
267                           Private
268    Subsidiary or Business Segment
269                            Public
270            Nonprofit Organization
273                            Public
274                           Private
275                           Private
276                            Public
277                           Private
278                           Private
281                           Private
282            Nonprofit Organization
284                            Public
285            Nonprofit Organization
288                           Private
289                           Private
290                            Public
291                           Private
292            Nonprofit Organization
293                            Public
295                           Private
296                           Private
299                           Private
300                        Government
302    Subsidiary or Business Segment
305            Nonprofit Organization
306            Nonprofit Organization
307            Nonprofit Organization
308            Nonprofit Organization
309                           Private
310                           Private
311                            Public
312                            Public
313                            Public
314                           Private
316                            Public
317                           Private
318                           Private
319                            Public
320                           Private
322                            Public
323    Subsidiary or Business Segment
324                            Public
325                           Private
326                           Private
328                           Private
330                            Public
331                           Private
332                            Public
333                           Private
334                           Private
335                            Public
337            Nonprofit Organization
339                            Public
341                            Public
342                            Public
344                           Private
346              College / University
347                            Public
348                           Private
349                           Private
350                            Public
351                           Private
352                           Private
353                           Private
354                            Public
355                           Private
356                           Private
357                           Private
358                            Public
362                            Public
364                           Private
366                            Public
367    Subsidiary or Business Segment
368                           Private
369                           Private
370    Subsidiary or Business Segment
371                            Public
372                            Public
375                            Public
376            Nonprofit Organization
377            Nonprofit Organization
379                           Private
380                            Public
381                            Public
382    Subsidiary or Business Segment
383                            Public
384                            Public
386                           Private
387                        Government
388                           Private
390                           Private
391                           Private
392                          Hospital
394                            Public
396                           Private
397                            Public
398                           Private
399                           Private
400                           Private
401                           Private
403                            Public
406                           Private
407            Nonprofit Organization
409                          Hospital
410                           Private
411                           Private
412                           Private
413                           Private
414                           Private
415                            Public
416                           Private
417                           Private
419                           Private
420                            Public
421                           Private
425                           Private
426                           Private
427                          Hospital
428                            Public
429                           Private
430                           Private
431                            Public
433                            Public
434              College / University
435                           Private
437                          Hospital
442            Nonprofit Organization
443                           Private
444                           Private
446                            Public
447            Nonprofit Organization
448                           Private
449                           Private
450                           Private
452                           Private
454    Subsidiary or Business Segment
455                           Private
456            Nonprofit Organization
458                           Private
459                           Private
461                           Private
462                            Public
463            Nonprofit Organization
464                           Private
466                           Private
467                           Private
468                           Private
469                           Private
470                           Private
471                           Private
472                           Private
473              College / University
476    Subsidiary or Business Segment
477                           Private
479                           Private
482                            Public
483                            Public
485                           Private
486                           Private
487                           Private
488                           Private
489                           Private
490                           Private
491                           Private
492                            Public
493                           Private
494                           Private
495                           Private
496                           Private
497                           Private
498                           Private
499                            Public
500                           Private
501                           Private
502                            Public
505                           Private
506                           Private
507                            Public
508                            Public
509                            Public
510    Subsidiary or Business Segment
512                        Government
516                           Private
517                            Public
518                           Private
519                           Private
520                           Private
521                        Government
522            Nonprofit Organization
523                            Public
524                           Private
525            Nonprofit Organization
526              College / University
528                           Private
530                            Public
532            Nonprofit Organization
533                           Private
534                Other Organization
535                            Public
537                           Private
538                           Private
539                           Private
540                            Public
541                           Private
542                           Private
543                           Private
544                        Government
545                           Private
546                            Public
548    Subsidiary or Business Segment
549                           Private
550                           Private
552                          Hospital
554                            Public
555                           Private
556                           Private
557                            Public
558    Subsidiary or Business Segment
560                           Private
561                            Public
562                           Private
563                           Private
565                            Public
566                           Private
567                           Private
568                           Private
570    Subsidiary or Business Segment
572                           Private
573                           Private
575                           Private
576                            Public
577                           Private
578                           Private
579                            Public
580    Subsidiary or Business Segment
582                            Public
583                           Private
585                           Private
586                           Private
587                           Private
588                           Private
589                           Private
590                            Public
591                           Private
594            Nonprofit Organization
595                           Private
597                            Public
599                          Hospital
600                           Private
601                            Public
602                           Private
603                           Private
604                            Public
605                            Public
606                           Private
607                            Public
608                           Private
609          School / School District
610                           Private
613                            Public
614                           Private
616                           Private
617                           Private
619                           Private
622                            Public
623                            Public
624                           Private
625                           Private
627                           Private
629                            Public
630                           Private
631                           Private
632                          Hospital
633                           Private
634                            Public
635                           Private
636                           Private
637                           Private
638                            Public
639            Nonprofit Organization
640                           Private
642                            Public
643                           Private
644                            Public
645              College / University
646                           Private
647                           Private
648    Subsidiary or Business Segment
651                            Public
652                          Hospital
653                           Private
654            Nonprofit Organization
655                            Public
658                            Public
660                           Private
661                            Public
662                           Private
663            Nonprofit Organization
664                            Public
665                            Public
666                           Private
668                            Public
669                            Public
670            Nonprofit Organization
671                           Private
672                           Private

In [14]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Provided_Salary,Min_Salary_Estimate,Max_Salary_Estimate,Average_Salary_Estimate,company_txt,job_state,same_state,company_age,python,excel,sas,spark,tableau,ownership
Index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Researc,NM,0,47,1,1,1,0,1,Private
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical Syste,MD,0,36,1,0,0,0,0,Other Organization
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe,FL,1,10,1,1,1,1,0,Private
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNN,WA,1,55,1,0,0,0,0,Government
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solution,NY,1,22,1,1,1,0,0,Private

In [16]:
# Saving the file in .csv formate
df.to_csv('cleaned_data.csv', index = False)